# Virtual Environment
venv/
.venv/

# Large Datasets
creditcard.csv
*.csv

# Model & Database Artifacts
model.pkl
fraudguard.db

# Python Cache & Testing
__pycache__/
*.pyc
.pytest_cache/

# OS Specific
.DS_Store
Thumbs.db
